/* Palette */
$color-1: #dfe085;
$color-2: #2d313d;
$color-3: #6cb2bf;
$color-4: #90c26c;
$color-5: #d92b44;
$color-6: #555555;

/* Theme Colors */
$bg-color: $color-2;
$theme-color: $color-1;
$theme-color-hover: lighten($theme-color, 10%);
$primary-text-color: $color-3;
$secundary-text-color: $color-6;
$link-color: $color-5;
$link-color-hover: lighten($link-color, 15%);

/* Sizes */
$border-radius: 3px;

/* CSS Variables */
:root {

    /* Base Color Palette: */
    --color-1: #{$color-1};
    --color-2: #{$color-2};
    --color-3: #{$color-3};
    --color-4: #{$color-4};
    --color-5: #{$color-5};
    --color-6: #{$color-6};

    /* Theme Colors */
    --bg-color: #{$bg-color};
    --theme-color: #{$theme-color};
    --theme-color-hover: #{$theme-color-hover};
    --primary-text-color: #{$primary-text-color};
    --secundary-text-color: #{$secundary-text-color};
    --link-color: #{$link-color};
    --link-color-hover: #{$link-color-hover};
    --success-color: var(--color-4);
    --danger-color: var(--color-5);
    --warning-color: var(--color-1);
    --info-color: var(--color-3);
    --light-color: #f5f5f5;
    --dark-color: var(--color-2);

    /* Sizes */
    --border-radius: #{$border-radius};

}