*,
:after,
:before {

    box-sizing: border-box;

}

html {

    background-color: var(--bg-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 16px;
    
}

body {

    color: var(--primary-text-color);

}

a {

    color: var(--link-color);
    text-decoration: none;

    &:hover {

        color: var(--link-color-hover);
        text-decoration: underline;

    }

}

a,
input,
button {

    transition: all .1s linear;

}

strong {

        font-weight: 700;

}

::placeholder {
    color: var(--bg-color);
    opacity: .5;
}